In [10]:
import json
import pandas as pd

In [11]:
with open('chat.json') as content:
    chat = json.load(content)

In [12]:
tags = []
inputs = []
responses={}
for intent in chat['intents']:
    responses[intent['tag']]=intent['responses']
    for lines in intent['input']:
        inputs.append(lines)
        tags.append(intent['tag'])

In [13]:
data = pd.DataFrame({"inputs":inputs, "tags":tags})

In [14]:
data

                                         inputs      tags
0                                            oi  saudacao
1                                      oi, fred  saudacao
2                                          fred  saudacao
3                                    freudulino  saudacao
4                                           ola  saudacao
..                                          ...       ...
96   o que posso fazer se eu me sentir sozinha?   sozinho
97                         eu me sentir sozinha   sozinho
98                         eu me sentir sozinho   sozinho
99                      eu me sentir abandonado   sozinho
100                     eu me sentir abandonada   sozinho

[101 rows x 2 columns]